<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <title>Cloud</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rattrapage Cloud</h1>
    <p>Projet Node.js + Express</p>
  </body>
</html>
